<div class="about">
  <p><strong>Company name:</strong>MyApp</p>
  <p><strong>Phone:</strong>55-5-55-55-555</p>
  <p><strong>Email:</strong>WebMaster@myapp.com.co</p>
  <p><strong>Website:</strong>www.myapp.com</p>
</div>
{{outlet}}
