<header class="header">
    <h1>My first ember.js app</h1>
</header>
<footer>
  this is my footer
</footer>
<div class="row">
  <div class="col s1">
    {{#link-to 'about'}}
    About us
    {{/link-to}}
  </div>
  <div class="col s1">
    {{#link-to 'index'}}
    Index
    {{/link-to}}
  </div>
  <div class="col s1">
    {{#link-to 'login'}}
    Login
    {{/link-to}}
  </div>
  <div class="col s1">
    {{#link-to 'addnumbers'}}
    Add Numbers
    {{/link-to}}
  </div>
</div>

{{outlet}}
